    <%- include('header') -%> 
        <title>
            Problem
        </title>
    </head>
    <body class="vh-100 pt-5 bg-light bg-gradient">
        <div class="containter">
                <div class="card mx-auto shadow" style="max-width: 400px">
                    <div class="card-header text-center">A problem happened</div>
                    <div class="card-body">
                        <%= problemText %> 
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a class="btn btn-primary" href="/">Go back</a>
                    </div>
                </div>
        </div>
    </body>
</html>
